.App {
  text-align: center;
  color: aliceblue;
  height: 100%;
  width: 100%;
  background-color: #282c34;
  margin: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

button {
  height: 2rem;
  background:#223b6c;
  outline: none;
  border:none;
  border-radius: 30px;
  color:aliceblue;
  cursor: pointer;
  padding: 0 10px;
}

